- book_presenter.comments.approved.includes(:user).each do |comment|
  .general-message-wrap.divider-lg
    .clearfix
      %img.img-circle.logo-size.inlide-block.pull-left{src: "https://www.smashingmagazine.com/wp-content/uploads/2015/09/smashing-book-5-2-large.jpg"}/
      .ml-70
        %div
          .general-message-date.hidden-xs
            = comment.decorate.comment_date
          .max-240
            .general-message-verified
              = comment.decorate.verified_reviewer
            .general-message-name
              = comment.decorate.user_name_of
        .mb-15
          - comment.score.times do
            %i.fa.fa-star.rate-star
          - comment.decorate.empty_stars_count.times do
            %i.fa.fa-star.rate-star.rate-empty
        %p= comment.review