%main.container.general-main-wrap
  .text-center
    %h3.general-login-title Sign Up
    %a.general-login-icon{href: "#"}
      %i.fa.fa-facebook-official
    %p.general-login-text or
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'general-form'}) do |f|
    = f.error_notification
    = render 'devise/registrations/new_form', f: f
