.form-group.mb-30
  = f.label :email, t('devise.enter_email')
  = f.input :email,
    required: true,
    autofocus: true,
    label: false,
    placeholder: t('devise.enter_email'),
    input_html: { autocomplete: "email" }
.text-center
  = f.button :submit, t('devise.password_instruction'), class: 'btn btn-default mb-20'
