.form-group.mb-30
  = f.input :email,
    required: true,
    autofocus: true,
    label: false,
    placeholder: t('devise.enter_your_email'),
    input_html: { autocomplete: "email" }
.text-center
  = f.button :submit, t('devise.email_instruction'), class: 'btn btn-default mb-20'
.text-center
  = link_to t('devise.cancel'), new_user_session_path, class: 'in-gold-500 mb-20'


