%main.container.general-main-wrap
  .text-center
    %h3.general-login-title= t('devise.set_new_password')
  = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'general-form' }) do |f|
    = render 'devise/passwords/edit_form', f: f
