%footer.navbar-inverse
  .container
    .row
      .col-sm-9
        %ul.list-inline.general-align.mb-25
          %li
            = link_to t('footer_menu.home'), root_path, class: 'nav-link'
          %li
            = link_to t('footer_menu.shop'), '#', class: 'nav-link'
          - if user_signed_in?
            %li
              = link_to t('footer_menu.orders'), '#', class: 'nav-link'
            %li
              = link_to t('footer_menu.settings'), '#', class: 'nav-link'

      .col-sm-3
        %p.general-nav-mail=t('email')
        %p.general-nav-number=t('phone')
        %ul.list-inline.general-align
          %li
            %a.nav-link{href: "#"}
              %i.fa.fa-facebook{'aria-hidden': "true"}
          %li
            %a.nav-link{href: "#"}
              %i.fa.fa-twitter{'aria-hidden': "true"}
          %li
            %a.nav-link{href: "#"}
              %i.fa.fa-google-plus{'aria-hidden': "true"}
          %li
            %a.nav-link{href: "#"}
              %i.fa.fa-instagram{'aria-hidden': "true"}
