= simple_form_for email_form, as: :email, url: email_path(current_user), method: :put do |f|
  .form-group.mb-35
    = f.label :email, t('.enter_email')
    = f.input :email,
       required: false,
       autofocus: true,
       label: false,
       placeholder: t('.enter_your_email'),
       input_html: { autocomplete: :on }
  .general-text-align
    = f.button :submit, t('.save'), class: 'btn btn-default mb-35'
