%ul.list-inline.pt-10.mb-25.mr-240
  %li.mr-35
    %a.filter-link{href: "#"}
      =t('catalog.all')
      %span.badge.general-badge
        = @categories.count
  - @categories.each do |category|
    %li.mr-35
      %a.filter-link{href: "#"}
        = category.name
        %span.badge.general-badge
          = category.books.count
