%ul.dropdown-menu
  %li
    %a{href: "#"}=t('catalog.filter.newest first')
  %li
    %a{href: "#"}=t('catalog.filter.popular first')
  %li
    %a{href: "#"}=t('catalog.filter.price low to hight')
  %li
    %a{href: "#"}=t('catalog.filter.price hight to low')
