%ul.dropdown-menu
  - Sort::SortBooksService::SORT_BY.each do |sort_by|
    %li
      = link_to @category  ? category_books_path(@category,sort_by: sort_by) : books_path do
        =t("catalog.filter.#{sort_by}")
