.input-group.general-input-group
  %label.input-label= t('.enter_coupon')
  %input.form-control.mb-30{type: "text", placeholder: t('.enter_coupon')}
  %div
    %button.btn.btn-primary.mr-5.mb-15= t('.apply_coupon')
