a.btn_get_started, a.btn_get_started:hover {
  color: #FFFF;
  text-decoration: none;
}

#book_plus, #book_minus {
  cursor: pointer
}

.inline{
  display: inline;
}


.is-invalid,  {
  border-color: red
}

.invalid-feedback{
  color: red;
}

.is-valid {
  border-color: green
}

