a.btn_get_started, a.btn_get_started:hover {
  color: #FFFF;
  text-decoration: none;
}

#book_plus, #book_minus {
  cursor: pointer
}

.pointer{
  cursor: pointer
}

.inline{
  display: inline;
}


.is-invalid,  {
  border-color: red
}

.invalid-feedback{
  color: red;
}

.is-valid {
}

.link-edit:hover {
  text-decoration: none;
  color: #8c8c8c
}

.link-order, .link-order:hover{
  text-decoration: none;
  color: #C29D73
}

.cvv_hint_message {
  display: none;
  width: 300px;
  background-color: #c59c71;
  color: white;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  position: absolute;
  z-index: 100;
}

.cvv_hint:hover .cvv_hint_message {
  display: block;
}
