- if @service.current_step == 'email_login'
  = render 'checkouts/email_login'
- if @service.current_step == 'address'
  = render  'checkouts/address', service: @service, address: @service.current_service
- if @service.current_step == 'delivery'
  = render  'checkouts/shipping', service: @service
- if @service.current_step == 'payment'
  = render  'checkouts/payment', service: @service, credit_card: @service.current_service.credit_card
