%p
  = t('devise.mailer.reset_password_instructions.greeting', email: @resource.email)
%p = t('devise.mailer.reset_password_instructions.warning')
%p= link_to t('devise.mailer.reset_password_instructions.change_button'), edit_password_url(@resource, reset_password_token: @token)
%p = t('devise.mailer.reset_password_instructions.main_text')
%p = t('devise.mailer.reset_password_instructions.until')
