%p
  = t('devise.welcome', email: @resource.email)
%p = t('devise.someone_reset')
%p= link_to t('devise.change_password'), edit_password_url(@resource, reset_password_token: @token)
%p = t('devise.ignore_email')
%p =t('devise.untill_you_acess')
